* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

body {
    height: 100%;

}

main {
    width: 100%;
    background: linear-gradient(200deg, white, #f9ebd2d2);
    margin-top: 250px;

}

.contact {
    display: flex;
    margin-bottom: 20px;
    margin-left: 150px;
    justify-content: space-around;
}

.usright {
    position: relative;
    left: -250px;
}

.map {
    display: grid;
}

.loc,
.phone {
    text-align: left;
    font-size: 13px;
    vertical-align: middle;
}

i {
    margin-top: 20px;
    font-size: 20px;
    padding-right: 6px;
}

.usright input {
    border: 1px solid #dbdbdb;
    outline: none;
    padding: 2px 6px;
    width: 90%;
    background-color: transparent;
}

h3 {
    font-size: 17px;
    color: white;
    padding-bottom: 100%;
    padding: 2px 0px;
    width: 100%;
    text-align: left;
    margin: 0px 16px;
    letter-spacing: 2px;
}

.ccontent {
    border: 1px solid #dbdbdb;
    font-size: 16px;
    color: white;
    resize: none;
    width: 400px;
    height: 140px;
    outline: none;
    margin: 16px;
    background-color: transparent;
    font-family: 'EB Garamond', 'Noto Serif TC', serif
}

.people {
    width: 100%;
    justify-content: space-between;
}

.detailinfo {
    position: relative;
    left: 270PX;
    display: flex;
    flex-wrap: wrap;
    width: 1400px;

}

.card {
    position: relative;
    width: 400px;
    height: 410px;
    margin: 20px;
    background-color: #FFEFD5;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.card .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .photo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .photo {
    top: 30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.card .photo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, black);
}

.card h1 {
    position: absolute;
    top: 230px;
    transition: 0.5s;
    text-align: center;
    font-weight: 300;
    font-weight: bold;
}

.card:hover h1 {
    top: 70px;
}

.card h2 {
    margin-top: 220px;
    width: 80%;
    border-bottom: 1px solid white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: bold;

}

.card p {
    color: black;
    width: 90%;
    text-indent: 32px;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 30px;
}


.contact {
    display: flex;
    text-align: center;

}

iframe {
    text-align: center;
}

h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}

.clearfix {
    clear: both;
}