html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



.banner {
    display: flex;
}

.bannerimg {
    background-image: url(../flower/banner.jpg);
    width: 50%;
    height: 680px;
    object-fit: cover;
}

.textbox {
    background-color: #dccabb;
    width: 50%;
    height: 680px;
    text-align: center;
}

div>.text {
    position: relative;
    height: 180px;
    top: 280px;
}

.cn {
    font-size: 35px;
    padding: 10px;
    color: #522c01 !important;
}

.eng {
    padding-top: 10px;
    color: #522c01 !important;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

a {
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.btn-draw {
    position: relative;
    top: 350px;
    display: inline-block;
    color: #522c0195;
    border-bottom: 2px solid #522c0195;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn-draw:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 2px;
    background: #522c0195;
    transform: translateY(100%);
    transition: transform 0.2s ease-in-out;
    transition-delay: 0.6s;
}

.btn-draw>span {
    position: relative;
    display: block;
    padding: 0.5em;
    color: inherit;
}

.btn-draw>span:before,
.btn-draw>span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #522c0195;
    transition: transform 0.2s ease-in-out;
}

.btn-draw>span:before {
    height: 2px;
    width: 100%;
    transform: translateX(100%);
    transition-delay: 0.4s;
}

.btn-draw>span:after {
    height: 100%;
    width: 2px;
    transform: translateY(-100%);
    transition-delay: 0.2s;
}

.btn-draw:hover:after,
.btn-draw:hover>span:before,
.btn-draw:hover>span:after {
    transform: translate(0, 0);
}

.btn-draw:hover:after {
    transition-delay: 0s;
}

.btn-draw:hover>span:before {
    transition-delay: 0.2s;
}

.btn-draw:hover>span:after {
    transition-delay: 0.4s;
}

.btn-draw:hover {
    color: #e4e4e2;
    background-color: #522c0195;
    transition-delay: 0.6s;
}

body {
    height: 100%;
}

main {
    display: block;
}

/*所有商品*/
.allitem {
    padding: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 600px 450px;
    grid-template-rows: 250px 250px;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "sellitem1 sellitem2"
        "sellitem1 sellitem3";
}

.sellitem1 {
    grid-area: sellitem1;
}

.sellitem2 {
    grid-area: sellitem2;
}

.sellitem3 {
    grid-area: sellitem3;

}

.sellitem1>img,
.sellitem2>img,
.sellitem3>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.sname1,
.sname2,
.sname3 {
    height: 0px;
}

.sname1>a {
    font-size: 50px;
    position: relative;
    top: -80px;
    color: white !important;
}

.sname2>a {
    font-size: 40px;
    position: relative;
    top: -320px;
    color: white !important;
}

.sname3>a {
    font-size: 40px;
    position: relative;
    top: -70px;
    color: white !important;
}


footer {
    display: block;
    color: #988946;
    background-color: #e6ded3;
    font-family: "Droid Serif", serif;
    text-align: center;
    line-height: .3;
    height: 200px;
    width: 100%;
}

h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);

}

.modal {
    --bs-modal-width: none;
}


.name {
    font-size: 23px;
}

.clearfix {
    clear: both;
}