* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

#bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    background-color: #FDF7E4;
    width: 100%;
    display: flex;
    height: 130px;
    top: 0;
}

header a {
    font-size: 30px;
    color: #522c01;
    text-decoration: none;
    align-items: center;
    padding: 20px;
    font-family: "Droid Serif", serif;
}


.logohead {
    display: flex;
    margin-left: 100px;
    width: 160px;

}

.logopic {
    width: 140px;
    height: 125px;
    margin-top: -5px;
}

nav {
    position: relative;
    top: 25px;
    left: 270px;
    display: flex;
    height: 20px;
}

.index,
.aboutlist,
.itemlist,
.memberlist {
    text-align: center;
    margin-top: 19.5px;
}


.dropdown {
    position: relative;
    display: inline-block;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #ebea90;
}

.head3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -400px;

}

.loginicon,
.shoppingicon {
    width: 100px;
    height: 50px;

}

.shoppingicon {
    position: relative;
    top: -4px;
    right: 15px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.flexbox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin: 20px;
}

.search>div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 1px #000000);
}

.search>div:after {
    content: "";
    background: rgb(0, 0, 0);
    width: 1.5px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 5px;
    transform: rotate(135deg);
}

.search>div>input {
    position: relative;
    top: -5px;
    color: #F4ECCE;
    font-size: 16px;
    background: transparent;
    width: 32px;
    height: 32px;
    padding: 10px;
    border: solid 0.8px rgb(0, 0, 0);
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search>div>input::placeholder {
    color: #522c01;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search>div>input:focus::placeholder {
    opacity: 1;
}

.search>div>input:focus,
.search>div>input:not(:placeholder-shown) {
    width: 250px;
}

.icon {
    width: 50px;
    height: 50px;
}

.icon1 {
    width: 59px;
    height: 59px;
}

body {
    background-color: #FAEED1;
    height: 100%;
}

main {
    display: block;
}

footer {
    display: block;
    color: #988946;
    background-color: #FDF7E4;
    font-family: "Droid Serif", serif;
    text-align: center;
    height: auto;
    line-height: .3;
    height: 200px;
    width: 100%;
}

h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);

}

.modal {
    --bs-modal-width: none;
}


.name {
    font-size: 23px;
}

.clearfix {
    clear: both;
}