html {
    height: 100%;
    width: 100%;
}

main {
    display: block;
    padding: 0.5em;
    color: inherit;
}

footer {
    display: block;
    color: #988946;
    background-color: #e6ded3;
    font-family: "Droid Serif", serif;
    text-align: center;
    line-height: .3;
    height: 200px;
    width: 100%;
}

.clearfix {
    clear: both;
}

.container {
    padding: 0;
}
