* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pcontainer {
    display: block;
    height: 1300px;
}

aside {
    position: relative;
    top: 300px;
    width: 35%;
    float: left;
    display: block;
}

.item {
    width: 50%;
    float: left;
    position: relative;
    top: 205px;
}

.accordion-button {
    float: left;
}

nav>.page {
    position: relative;
    top: -40px;
}

table {
    align-items: flex-start;
    border-collapse: collapse;
    border: none;
}

tbody {
    border: none !important;
}


table a {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    text-decoration: none;

}

.accordion {
    width: 50%;
}

.card-body {
    text-align: center;
}

.list-item {
    display: none;
}

.list-item.active {
    display: flex;
}

td,
th {
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.special-effect {
    background-color: #0D6EFD;
    color: white;
}

.col {
    margin-top: 0px;
    padding: 20px;
}


.page-item {
    position: relative;
    bottom: -100px;
}

.accordion-item {
    width: 300px;
}

.accordion-body {
    width: 300px;
}




.card-img-top {
    height: 300px;
    object-fit: cover;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.banbutton::after {
    background-image: none;
}

footer {
    display: block;
    color: #988946;
    background-color: #e6ded3;
    font-family: "Droid Serif", serif;
    text-align: center;
    line-height: .3;
    height: 200px;
    width: 100%;
}

li {
    margin-top: 20px;
}

.category {
    position: relative;
    top: 20px;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 1px solid #dbdbdb;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    border-top-color: transparent;
}

.accordion-button:hover {
    background-color: #522c0187;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: #522c0187;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}