* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pcontainer {
    display: block;
    height: 1300px;
}

aside {
    position: relative;
    top: 300px;
    width: 35%;
    float: left;
    display: block;
}

.item {
    width: 50%;
    float: left;
    position: relative;
    top: 205px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.accordion-button {
    float: left;
}

nav>.page {
    position: relative;
    top: -40px;
}

.category {
    list-style: none;
    padding-left: 0;
}

.category li {
    display: block;
}


.category a {
    padding-left: 30%;
    font-size: 30px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.category a:hover{
    color: #e6ded3;
}

.accordion {
    width: 50%;
    margin: 0;
}

.card-body {
    text-align: center;
}

.list-item {
    display: none;
}

.list-item.active {
    display: flex;
}

td,
th {
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.special-effect {
    background-color: #0D6EFD;
    color: white;
}

.col {
    margin-top: 0px;
    padding: 20px;
}


.page-item {
    position: relative;
    bottom: -100px;
}

.accordion-item {
    width: 300px;
}

.accordion-body {
    width: 300px;
    padding: 0;
}

.card-img-top {

    height: 300px;
    object-fit: cover;
}

.banbutton::after{
    background-image: none;
}

.dropdown:hover .dropdown-content {
    display: none;
}

footer {
    display: block;
    color: #988946;
    background-color: #e6ded3;
    font-family: "Droid Serif", serif;
    text-align: center;
    line-height: .3;
    height: 200px;
    width: 100%;
}